.App-Product-Container {
    display: flex;
    justify-content: center;
}

.App-Product-Box {
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    background: linear-gradient(to right, #94effb, #36b7e2);
    color: #3e3c8b;
    border: dotted;
}
button{
    padding: 10px;
    background: white;
    border-radius: 5px;
    border: dotted 1px rgb(23, 193, 209);
    font-weight: bold;
    color: #3e3c8b;
    margin-left: 0px;
}